.destination {
  &__wrapper {
    margin-bottom: 274px;
  }

  &__content {
    margin-right: 22px;
  }

  &__description {
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__btn {
    padding: 25px 44px;
    font-size: 20px;
    color: $primary-button-text-color;
  }

  &__container {
    display: flex;
  }

  &__content {
    flex-shrink: 0;
  }
}

.destination-slider {
  width: 100%;
  flex-shrink: 0;
  max-width: calc(100vw - (((100vw - 1260px)/2) + 455px + 40px));

  &__slide {
    width: auto !important;
    pointer-events: none;
  }

  &__image {
    align-self: center;
    height: 402px;
    width: 335px;
  }

  &__wrapper {
    display: flex;
  }
}

.subtitle {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: $secondary-text-color;
}

.title {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: $secondary-text-color;
}

.description {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: $secondary-text-color;
  opacity: 50%;
  max-width: 455px;
}

.swiper-wrapper {
  align-items: center;
  left: 42px;
}

.swiper-button-prev {
  background: $primary-button-background-color;
  height: 68px;
  width: 68px;
  border-radius: 100%;

  &::after {
    content: url("../images/destinations/left_arrow.svg");
    font-size: unset;
  }
}

.swiper-slide-active {
  .destination-slider__image {
    height: 456px;
    width: 380px;
  }
}

.swiper-button-next {
  display: none;
}
