$swiper-button-prev-size: 68px;

.destination {
  &__wrapper {
    margin-bottom: 274px;
  }

  &__content {
    margin-right: 22px;
  }

  &__description {
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__container {
    display: flex;
  }

  &__content {
    flex-shrink: 0;
  }
}

.destination-slider {
  width: 100%;
  flex-shrink: 0;
  max-width: calc(100vw - (((100vw - 100%)/2) + 455px + 30px));

  &__slide {
    width: auto !important;
    pointer-events: none;
  }

  &__image {
    align-self: center;
    height: 402px;
    width: 335px;
  }

  &__wrapper {
    display: flex;
  }
}

.subtitle {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: $secondary-text-color;
}

.title {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: $secondary-text-color;
}

.description {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: $secondary-text-color;
  opacity: 50%;
  max-width: 455px;
}

.swiper-wrapper {
  align-items: center;
  left: 42px;
}

.swiper-button-prev {
  background: $primary-button-background-color;
  height: $swiper-button-prev-size;
  width: $swiper-button-prev-size;
  border-radius: 100%;

  &::after {
    content: url("../images/destinations/left_arrow.svg");
    font-size: unset;
  }
}

.swiper-slide-active {
  .destination-slider__image {
    height: 456px;
    width: 100%;
  }
}

.swiper-button-next {
  display: none;
}

@media screen and (max-width: 1024px) {
  $swiper-button-prev-size: 50px;

  .swiper-button-prev {
    width: $swiper-button-prev-size;
    height: $swiper-button-prev-size;
  }

  .destination {
    margin-bottom: 180px;
    &__container {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  .destination-slider {
    max-width: 100%;
    &__image {
      height: 290px;
      width: 100%;
    }
  }

  .swiper-slide-active {
    .destination-slider__image {
      height: 350px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  $swiper-button-prev-size: 45px;

  .swiper-button-prev {
    width: $swiper-button-prev-size;
    height: $swiper-button-prev-size;
  }

  .swiper-wrapper {
    left: 30px;
  }

  .action-btn--medium {
    font-size: 14px !important;
    padding: 15px 30px !important;
  }

  .destination {
    margin-bottom: 100px;
    &__description {
      margin-bottom: 30px;
    }
  }

  .destination-slider {
    &__image {
      height: 220px;
    }
  }

  .swiper-slide-active {
    .destination-slider__image {
      height: 290px;
    }
  }
}
