.header {
  background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.40%), #204434;
  min-height: 920px;
  overflow: hidden;
  position: relative;

  &__wrapper {
    margin-bottom: 96px;
  }

  &__nav-wrapper {
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 94px;
  }

  &__exploration-btn {
    background: rgb(255 255 255 / 25%) !important;
    font-weight: 500 !important;
    border-radius: 15px !important;
    font-size: 18px;
    padding: 11px 30px;
    margin-bottom: 10px;
  }

  &__exploration-title {
    font-family: "Poppins", sans-serif;
    color: $primary-text-color;
    font-size: 55px;
    font-weight: 400;
    max-width: 592px;
    margin-bottom: 30px;
  }

  &__exploration-description {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: $primary-text-color;
    opacity: 50%;
    max-width: 520px;
    margin-bottom: 68px;
  }

  &__explore-now-btn {
    padding: 26px 48px;
    font-size: 25px
  }

  &__bottom {
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0;
  }

  &__background-decor {
    pointer-events: none;
    position: absolute;
    top: -60px;
    right: -40px;
  }

  &__text-content {
    position: relative;
    z-index: 10;
  }
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: $primary-text-color;
  display: inline;
  max-width: 262px;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  &__list {
    display: flex;
    gap: 80px;
    margin-right: auto;
  }

  &__list-item {
    position: relative;
  }

  &__list-sign-up-btn {
    margin-right: 25px;
  }

  &__list-link {
    font-size: 15px;
    font-weight: 500;
    color: inherit;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }
}

.active::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: $active-link-color;
  border-radius: 4px;
  bottom: 0;
  left: 0;
}

.sign-up-btn {
  text-wrap: nowrap;
  font-family: "Poppins", sans-serif;
}

.login-btn {
  font-family: "Poppins", sans-serif;
  padding: 13px 44px;
  background: linear-gradient(to right, #FF7B4E, #FF584E);
  border-radius: 100px;
  color: #FFFFFF;
}

.exploration {
  display: flex;
  &__image-wrapper {
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__image {
    pointer-events: none;
    position: absolute;
    top: -230px;
    right: -100px;
  }
}

.nav {
  align-items: center;
  display: flex;
  padding: 44px 0;

  &__items {
    width: 100%;
  }
}

.burger-btn {
  width: 40px;
  height: 26px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 21;

  &__line {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #d3531a;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  &__line:nth-child(even) {
    left: 49%;
    border-radius: 0 5px 5px 0;
  }

  &__line:nth-child(odd) {
    left: 0;
    border-radius: 4px 0 0 4px;
  }

  &__line:nth-child(1), &__line:nth-child(2) {
    top: 0;
  }

  &__line:nth-child(3), &__line:nth-child(4) {
    top: 10px;
  }

  &__line:nth-child(5), &__line:nth-child(6) {
    top: 20px;
  }
}

.burger-btn__wrapper--open {
  .burger-btn__line:nth-child(1), .burger-btn__line:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .burger-btn__line:nth-child(2), .burger-btn__line:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .burger-btn__line:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  .burger-btn__line:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  .burger-btn__line:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  .burger-btn__line:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  .burger-btn__line:nth-child(5) {
    left: 5px;
    top: 17px;
  }

  .burger-btn__line:nth-child(6) {
    left: calc(50% - 5px);
    top: 17px;
  }
}

@media screen and (min-width: 1025px) {
  .burger-btn {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    &__wrapper {
      min-height: 845px;
    }

    &__nav-wrapper {
      width: auto;
      margin-bottom: 55px;
    }

    &__exploration-title {
      font-size: 45px;
    }

    &__exploration-description {
      font-size: 20px;
    }

    &__exploration-btn {
      font-size: 15px;
    }

    &__explore-now-btn {
      font-size: 20px;
      padding: 20px 40px;
    }
  }

  .nav-wrapper {
    display: none;

    &__list {
      flex-direction: column;
      margin: auto;
    }

    &__buttons {
      margin-bottom: 50px;
    }

    &__container--active {
      display: flex !important;
      position: fixed;
      left: 0;
      top: 0;
      flex-direction: column;
      background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
      height: 100vh;
      width: 100vw;
      z-index: 20;
    }
  }

  .nav {
    padding: 35px 0;
    &__items {
      width: auto;
    }
  }

  .exploration {
    &__image-wrapper {
      filter: blur(17px);
    }
  }

  .logo {
    width: auto;
    margin-right: auto !important;
  }

  .title {
    font-size: 45px !important;
  }

  .subtitle {
    font-size: 25px !important;
  }

  .description {
    font-size: 20px !important;
  }

  .action-btn--medium {
    font-size: 16px !important;
    padding: 20px 40px !important;
  }
}


@media screen and (max-width: 800px) {
  .header {
    &__wrapper {
      min-height: 645px;
    }

    &__exploration-title {
      font-size: 35px;
      max-width: 492px;
    }

    &__exploration-description {
      font-size: 17px;
      max-width: 420px;
      margin-bottom: 40px;
    }

    &__exploration-btn {
      font-size: 15px;
      padding: 8px 27px;
    }

    &__explore-now-btn {
      font-size: 17px;
      padding: 16px 35px;
    }
  }

  .exploration {
    &__image-wrapper {
      filter: blur(17px);
    }

    &__image {
      top: -132px;
      height: 600px;
    }
  }

  .title {
    font-size: 35px !important;
  }

  .subtitle {
    font-size: 22px !important;
  }

  .description {
    font-size: 18px !important;
    max-width: 355px !important;
  }
}
