.subscription {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    max-width: 494px;
    text-align: center;
    margin-bottom: 60px;
  }
}

.subscription-form {
  &__wrapper {
    margin-bottom: 105px;
    padding: 12px 15px 12px 46px;
    background: #FFFFFF;
    border-radius: 35px;
    max-width: 800px;
    width: 100%;
    display: flex;
  }

  &__input {
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: $secondary-text-color;
    outline: none;
    background: transparent;
    padding-right: 20px;
    margin-right: auto;
  }

  &__btn {
    padding: 34px 86px;
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .subscription {
    &__title {
      font-size: 45px !important;
      margin-bottom: 30px
    }
  }

  .subscription-form {
    &__wrapper {
      padding: 10px 10px 10px 20px;
    }

    &__input {
      font-size: 19px;
    }

    &__btn {
      padding: 24px 66px;
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 800px) {
  .subscription {
    &__title {
      font-size: 35px !important;
    }
  }

  .subscription-form {
    &__wrapper {
      padding: 6px 6px 6px 16px;
    }

    &__input {
      font-size: 15px;
    }

    &__btn {
      padding: 18px 50px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .subscription {
    &__title {
      font-size: 28px !important;
      margin-bottom: 20px;
    }
  }

  .subscription-form {
    &__wrapper {
      margin-bottom: 50px;
      max-width: 100%;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-between;
    }

    &__input {
      font-size: 13px;
      padding: 0;
    }

    &__btn {
      padding: 14px 35px;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 392px) {
  .subscription-form {
    &__input {
      margin: unset;
    }

    &__wrapper {
      justify-content: center;
    }
  }
}
